/* This sylesheet is part of civboot and is public domain. */
html {
  font-family: Verdana, Roboto, sans-serif;
  /* font-family: Palatino, Optima, Arial, sans-serif; */
  font-size: 20px;
  color: black; background-color: white;
  margin: 0;
  margin-left: 2px;
}
*  { margin: 0; }
p  { margin-top: 2px; }

/* general elements */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 10px;
  font-weight: normal; letter-spacing: 0.25px;
  width: fit-content; max-width: 95%;
  border-bottom: 3px solid silver;
}
/* .h { border-bottom: 3px solid silver; } */
h1 { font-size: 2.8rem; }
h2 { font-size: 2.2rem; }
h3 { font-size: 1.8rem; }
h4 { font-size: 1.6rem; }
h5 { font-size: 1.4rem; }
h6 { font-size: 1.2rem; }
ul, ol { margin-bottom: 4px; }
a         { color:royalblue; }
a:visited { color:dodgerblue; }
a:hover   { background-color:skyblue; }

/* table */
table, th, td {
    vertical-align: top; text-align: left;
    border-collapse: collapse;
    border: 1px solid grey;
    margin: 5px 5px;
    padding: 3px 5px;
}
table { min-width: 20rem; }
th    { color: white; background-color: limegreen; }

/* code */
.code {
  font-family: Monaco, "Andale Mono", monospace;
  color: white; background-color: black;
  padding-left: 2px; padding-right: 2px;
}
.code-block {
  font-family: Monaco, "Andale Mono", monospace;
  color: white; background-color: black;
  scrollbar-color: limegreen black;
  margin: 3px 1% 4px 1%;
  padding-left: 5px; padding-right: 5px;
  border-top: 5px solid limegreen;
  border-left: 3px solid limegreen;
  width: fit-content; min-width: 10rem; max-width: 95%;
  white-space: nowrap; overflow-x: auto;
}

/* quote blocks */
.info {
  background-color: ghostwhite;
  border-top: 5px solid steelblue;
  border-left: 3px solid steelblue;
  margin-left: 10px; padding-left: 5px;
  width: fit-content; min-width: 30%;

}
.warn {
  background-color: lightyellow;
  border-top: 5px solid gold;
  border-left: 3px solid gold;
  margin-left: 10px;  padding-left: 5px;
  width: fit-content; min-width: 30%;
}

