/* This sylesheet is part of civboot and is public domain. */
*  { margin: 0; }
html {
  font-family: Helvetica, sans-serif; font-size: 18px;
  color: white; background-color: #121111;
  margin-left: 2px;
}
/* doc structure */
nav { margin-top: 20px; }
.nav {
  color: gold;
  margin-left: 10px; padding-left: 5px; padding-right: 5px;
}
.nav-selected { color: #121111; background-color: gold; }
.doc {
  margin: 20px; padding: 10px;
  background-color: #2b2b2b;
  border-radius: 25px;
}

/* general elements */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 10px;
  font-weight: normal; letter-spacing: 0.25px;
  /* offset-x | offset-y | blur-radius */
  text-shadow: 0.1em 0.1em 0.05em black;
  width: fit-content; max-width: 95%;
  /* border-bottom: 3px solid silver; */
}
h1 { font-size: 2.8rem; }
h2 { font-size: 2.2rem; }
h3 { font-size: 1.8rem; }
h4 { font-size: 1.6rem; }
h5 { font-size: 1.4rem; }
h6 { font-size: 1.2rem; }
p { margin-top: 2px; }
ul, ol { margin-bottom: 4px; }
a         { text-decoration: none; color:royalblue; }
a:visited { color:dodgerblue; }
a:hover   { background-color:skyblue; }

/* table */
table, th, td {
    vertical-align: top; text-align: left;
    border-collapse: collapse;
    border: 1px solid grey;
    margin: 5px 5px;
    padding: 3px 5px;
}
table { min-width: 20rem; }
th    { color: white; background-color: darkgreen; }

/* code */
.code {
  font-family: "Ubuntu Mono", "DejaVu Sans Mono", Menlo, monospace;
  color: white; background-color: black;
  padding-left: 2px; padding-right: 2px;
}
.code-block {
  font-family: "Ubuntu Mono", "DejaVu Sans Mono", Menlo, monospace;
  color: white; background-color: black;
  scrollbar-color: limegreen black;
  margin: 3px 1% 4px 1%;
  padding-left: 5px; padding-right: 5px;
  border-top: 5px solid limegreen; border-left: 3px solid limegreen;
  border-top-left-radius: 5px;
  width: fit-content; min-width: 10rem; max-width: 95%;
  white-space: nowrap; overflow-x: auto;
}

/* quote blocks */
.info {
  background-color: darkblue;
  border-top: 10px solid steelblue; border-left: 5px solid steelblue;
  border-top-left-radius: 10px;
  margin-left: 10px; padding-left: 5px; padding-right: 10px;
  width: fit-content; min-width: 30%;
}
.warn {
  background-color: darkred;
  border-top: 10px solid orangered; border-left: 5px solid orangered;
  border-top-left-radius: 10px;
  margin-left: 10px; padding-left: 5px; padding-right: 10px;
  width: fit-content; min-width: 30%;
}
